<div class="container text-center mt-5">
  <h1>Login</h1>
  <div class="row justify-content-center">
    <div class="col-4">
      <%= form_for :session, url: login_path, class: "form-horizontal" do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Username" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <%= link_to "Register", new_user_path, class: "badge badge-light mt-4" %>
      <% end %>
      <% flash.each do |k, v| %>
      <div class="alert alert-<%= k %> mt-4" role="alert">
        <%= v %>
      </div>
        <% end %>
    </div>
  </div>
</div>