<div class="container text-center">
  <h1>Listing product</h1>
  <%= link_to "Create new product", new_product_path, class: "btn btn-outline-primary mt-4 float-left" %>
  <table class="table mt-5 float-left">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Image url</th>
      <th scope="col">Price</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @product.each do |p| %>
      <tr>
        <th scope="row"><%= p.id %></th>
        <td><%= p.title %></td>
        <td><%= truncate(strip_tags(p.description), length: 80) %></td>
        <td><img src="<%= p.image_url %>" alt="" width="70px"></td>
        <td><%= p.price %></td>
        <td><%= link_to "Show", p, class: "btn btn-outline-success" %></td>
        <td><%= link_to "Edit", edit_product_path(p), class: "btn btn-outline-warning" %></td>
        <td><%= link_to "Delete", p, method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>